  <div id="intro">
  <p>All righty <%= @user.username %>, we looked at your top 20 neighbours, and we think your next favourite band will be:</p>  
  </div>
  
  <p id="drumroll">*drumroll*</p>
  
  <p id="band"><a><%= @the_band.name %></a></p>
  
  <p class="excite">because <%= @count %> of your neighbours love them!</p>
  
  <p class="excite">Woo, go listen to them!</p>
  
  <p id="again"><a href="/main/index">Wanna do it all over again?</a></p>
  
  </div>