<div id="intro">
<p>Your next favourite band is all about finding the one band that you really should be listening to, <span>but you don't. *</span></p>

<p>And all we need to find that out is your <a href="http://www.last.fm">last.fm</a> username.</p>

</div>
<form action="/main/do_it" method="post">
	<fieldset>
		<label for="username">So, what's your last.fm username?</label>
		<input type="text" name="username" id="username" value=""/>
		<input type="submit" id="submit" value="Let's go!"/>
	</fieldset>
</form>

<p id="asterisk">* It's OK, we won't tell anyone you didn't know about them.</p>