<h1>Your Next Fav Band</h1>

<form action="/main/do_it" method="post">
	<fieldset>
		<label for="username">Your username</label>
		<input type="text" name="username" id="username" />
		<input type="submit" />
	</fieldset>
</form>