
  <p id="results-intro">All righty <%= @user.username %>,
	<span> we looked at your top 20 neighbours, and we think your next favourite band will be:</span></p>

  <p id="drumroll">*drumroll*</p>
  
  <p id="band"><a><%= @the_band.name %></a></p>
  
  <p class="excite">as listened to by <%= @count %> of your neighbours.</p>
    
  <p id="again"><a href="/">Wanna do it all over again?</a></p>
  
  </div>