html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
html{
  height: 100%;
}
body{
  font-size: 62.5%;
  font-family: "Arial Rounded MT Bold", Helvetica, sans-serif;
  height: 100%;
  background: #333;
  color: #333;
  background: url(../images/stripe.png);
}
#wrapper{
  width: 550px;
  margin: 0 auto;
  background: #fff;
  height: 100%;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
}
h1 a{
  display: block;
  background: url(../images/ynfb-logo.png) no-repeat 0 60px;
  width: 506px;
  height: 150px;
  font-size: 4em;
  margin: 0 auto;
  padding-bottom: 1em;
  text-decoration: none;
  color: #444;
}
p{
  line-height: 1.25em;
}
a{
  color: #444;
}
a:hover{
  color: #fc1535;
}
div#header{
  padding-top: 15px;
}
div#intro{
  padding: 0 0 0 50px;
  margin: 2em 0 3em 0;
  width: 450px;
}
div#intro p{
  font-size: 2.5em;
  margin-bottom: 0.75em;
}
div#intro p span{
  display: block;
  font-size: 0.75em;
}
form{
  padding: 0 0 0 50px;
  width: 400px;
  margin: 0 auto;
}
form label{
  float: left;
  font-size: 1.75em;
  margin-bottom: .25em;
}
form input{
  float: left;
  font-size: 4em;
  width: 300px;
  font-family: "Arial Rounded MT Bold";
  margin-bottom: .125em;
}
form input#submit{
  display: block;
  font-size: 3em;
  width: 300px;
  background: #333;
  border: none;
  color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  width: 310px;
}
form input#submit:hover{
  background: #fc1535;
  cursor: pointer;
}
form input#submit:active{
  margin-top: 5px;
  background: #fc1535;
}
p#asterisk{
  padding: 0 0 0 50px;
  margin-top: 30px;
  font-size: 1.125em;
}

p#results-intro{
  font-size: 2.5em;
  padding: 0 0 0 50px;
  margin: 1em 0 1em 0;
}
p#results-intro span{
  display: block;
  font-size: 0.75em;
  width: 450px;
}
p#band{
  font-size: 4.9em;
  line-height: 1.25em;
  cursor: pointer;
  margin-bottom: 0.4em;
  text-align: center;
}
p#drumroll{
  font-size: 1.5em;
  margin-bottom: 1.25em;
  text-align: center;
}
p.excite{
  padding: 0 0 0 50px;
  font-size: 1.875em;
  line-height: 1.25em;
  margin-bottom: 0.75em;
  width: 450px;
}

p#again{
  margin-top: 2em;
  text-align: center;
  font-size: 1.5em;
}
